body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

#loginForm {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #28a745;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#loginForm input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#error-message {
    color: red;
    display: none;
}
